body{
/*	background: #dcdcdc;*/
	padding: 20px;
}

/*
.navigation ul li:hover{
	transform: translate(20px, 0px);
	-webkit-transform: translate(20px, 0px);
}
*/

.navigation ul{
	width: 120px;
	color: #2E2E2E;
	cursor: pointer;
} 

.navigation ul li{
	list-style: none;
	margin: 5px 10px;
}

.navigation ul li:hover{
	color: #F78181;
}

.navigation ul ul{
	margin-left: 30px;
}

.navigation .sublist{
	color: #848484;
}

.navigation .last{
	border-bottom: none;
}

.main-content{
	width: 900px;
}

.item{
	background: #e9967a;
	margin: 10px 0;
}

.node{
	stroke: #fff;
	stroke-width: 1.5px;
}
.link{
	stroke: #ddd;
	stroke-opacity: 0.6;
	stroke-width: 2px;
}
.index{
	width: 20px;
	height: 10px;
}
