body{
	background: #dcdcdc;
}

.navigation{
	width: 300px; 
}

.navigation ul{
	width: 298px;
	position: relative;
	border: 1px solid black;
}

.navigation ul li{
	list-style: none;
	height: 50px;
	background: #ccc; 
	border-bottom: 1px solid black;
}

.navigation ul li:hover{
	transform: translate(20px, 0px);
	-webkit-transform: translate(20px, 0px);
}

.navigation .last{
	border-bottom: none;
}

.main-content{
	width: 900px;
}

.item{
	background: #e9967a;
	margin: 10px 0;
}
