#note-form{
	width: 300px;
	height: 400px;
}

#note-form .note-item-title{
	color : #ccc; 
	margin: 10px 0;
}

#note-form li{
	list-style: none;	
}

#note-form textarea{
	width: 100%;
}

#note-form .note-paragraph{
	height: 3em;
}


