#note-form{
	width: 300px;
	height: 400px;
}

#note-form .note-item-title{
	color : #ccc; 
	margin: 10px 0;
}

#note-form li{
	list-style: none;	
}

#note-form textarea{
	width: 100%;
}

#note-form .note-paragraph{
	height: 3em;
}

#note-form #note-form-kw{
	height: 100px;
}

#note-form #note-form-kw span{
	border: 1px solid black;
	margin: 0 5px;
}

