//color value;
@head_color:#222;
@head_border_color: #080808;
@head_font_color: #fff; 
@border-color: #ccc;
@title_color: #468847;
@emphasis_color: #b94a48;
@keywords_color: #999;
@keywords_chosen_color: #563d7c;
//size value;
@header_height: 50px;

//standard class:
.part(@width: 100%, @float){
	float: @float;
	width: @width;
}
.title(){
	color: @title_color;
	font-size: 18px;
	margin: 10px;
}
.rounded-corners (@radius: 5px) {
    -webkit-border-radius: @radius;
    -moz-border-radius: @radius;
    -ms-border-radius: @radius;
    -o-border-radius: @radius;
    border-radius: @radius;
}

.button{
	.rounded-corners();
	border: 1px solid #556b2f;
	color: #fff;
	background-color: @title_color;
	text-align: center;
	line-height: 30px;
	height: 30px;
	width: 80px;
	cursor: pointer;
	&:hover{
		background-color: #228B22;
	}
}
//usual style
li{
	list-style: none;
}


body{
	font-size: 16px;
	color: #222;
}

.header{
	font-size: 28px;
	color: @head_font_color;
	height: @header_height;
	line-height: @header_height;
	background-color : @head_color;
	border-color: @head_border_color;
	padding: 10px;
}

.contentContainer{ 
	margin-top: 20px;
	padding: 0 10px;
}

.navigation{
	.part(25%, left);
	padding: 10px;
	border: 1px solid @border-color;
	box-shadow: 2px 2px 3px #888888;
	li{
		height: 30px;
		a{
			color: #2a6496;
			text-decoration: none;
			&:hover{
				color: #005580;
			}
		}
	}
	.subList{
		height: 120px;
		font-size: 80%;
		li{
			padding-left: 10px;
		}
		.subListTitle{
			font-size:16px;
			padding-left: 0px;
		}
	}
	.current-mode{
		color: @emphasis_color;
		font-weight: bold;
		text-decoration: underline;
	}
}

.main-content{
	.part(70%, right);
	.item{
		color: #333;
		padding: 20px;
		border-top: 1px solid @border-color;
		.time-id{
			margin: 5px 0;
			font-weight: bold;
			cursor: pointer;
			.createtime{
				color: @title_color;
			}
			.edit-text{
				color: #b94a48;
				position: relative;
				left: 2em;
			}
		}
		.content-paras{
			padding-left: 5px;
			border-left: 1px solid @border-color;
			margin: 10px 0;
		}
		.url a{
			font-style: italic;
			font-size: 14px;
			color: #2f4f4f;
			text-decoration: none;
		}
	}
	#main-content-searchtime {
		.searchtime-method{
			.rounded-corners();
			display: inline-block;
			border: 1px solid #556b2f;
			//margin-bottom: 20px;
			color: #fff;
			line-height: 30px;
			height: 30px;
			width: 80px;
			text-align: center;
			background-color: @title_color;
			float: left;
			cursor: pointer;
			&:hover{
				background-color: #228B22;
			}
		}
		.searchtime-method-select{
			text-decoration: underline;
			font-style: italic;
		}
		.searchtime-content{
			clear:both;
			height: 1000px;
			#searchtime-enter{ 
				.button();
			}
			.searchtime-content-select{
				border: 1px solid @border-color;
				box-shadow: 2px 2px 3px #dcdcdc;
				padding: 30px;
				margin-bottom: 10px;
				height: 200px;

				#precise-time{
					position: relative;
					input{
						width: 15em;
					}
					#start-input{
						position: absolute;
					}
					#end-input{
						position: absolute; 
						left: 300px;
					}
					#start-calendar{
						position: absolute;
						top: 50px; 
						cursor: pointer;
						td{
							text-align: center;	
							.date:hover{
								background: #3a87ad;
							}
						}
						#start-pre-m{
							float: left;
						}
						#start-next-m{
							float: right;
						}
					}
					#end-calendar{
						position: absolute;
						top: 50px;
						left: 300px;
						cursor: pointer;
						td{
							text-align: center;	
							.date:hover{
								background: #3a87ad;
							}
						}
						#end-pre-m{
							float: left;
						}
						#end-next-m{
							float: right;
						}
					}
				}
			}
		}
	}
	#main-content-searchwords{
		.title{
			color: #fff;
			background: @title_color;
			border: 1px solid @border-color;
			padding: 10px;
			margin: 10px 0;
		}
		#sub-content-words{
			padding: 10px;
			border-left: 1px solid @border-color;
			.ki{
				color: @keywords_color;
				cursor: pointer;
				padding: 5px;
				margin: 5px;
				&:hover{
					color: @keywords_chosen_color;
				}
				.keywords-chosen{
					color: @keywords_chosen_color;
				}
			}
			#fn-searchwords{
				margin-top: 20px;
				.button();
			}
		}
		#sub-content-cwords{
			color: #fff;
			background: @title_color;
			border: 1px solid @border-color;
			padding: 10px;
			margin: 10px 0; 
			.chosen{
				font-weight: bold;
				margin: 0 5px;
			}
		}
	}
	#main-content-searchcontent{
		#sub-content-ctitle{
			input{
				height: 30px;
				line-height: 30px;
				width: 20em;
				&:hover{
					background: #f0e68c;
				}
			}
			.cbutton{
				.button();
				padding: 5px 10px;
				margin: 0 10px;
			}
		}
	}
}

#main-content-general{
	.general_title{
		.title();
	}
	#sub-content-month{
		padding: 10px;
		border-bottom: 1px solid @border-color; 
	}
	#network-wrapper{
		padding: 10px;
		border-bottom: 1px solid @border-color;
	}
	.node{
		stroke: #fff;
		stroke-width: 1.5px;
	}
	.link{
		stroke: green;
		stroke-opacity: 0.6;
		stroke-width: 2px;
	}
	.index{
		width: 20px;
		height: 10px;
	}
	.bar{
		fill: steelblue;
	}
	.axis text{
		font: 10px sans-serif;
	}
	.axis path,
	.axis line{
		fill: none;
		stroke: #000;
		shape-rendering: crispEdges;
	}
	.x .axis path{
		display: none;
	}
}
.clear{
	clear: both;	
}
