<script type="template">
	<div class="modal fade" id="kwj-note-form" tabindex='-1' aria-hidden='true' role='dialog' aria-labelledby='myModalLabel'>
		<div class='modal-dialog'><div class='modal-content' style='padding: 20px; text-align: left;'>
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h3 class='modal-title' id='myModalLabel' style='color:black;'>编辑摘抄<h3>"
			</div>
			<div class="modal-body">
				<div id="note-form">
					<div id="createtime" style="color:#BF00FF;">
						<span>摘抄时间：</span> 
						<span id="note-form-date"></span>
					</div>
					<div style="border-bottom: 2px solid #ddd;">
						<h4 style="color: #FA5858; line-height: 18px;">摘抄内容</h4>
						<div id="note-form-content" style="margin: 10px;"></div>
					</div> 
					<div id="note-form-kw" style="border-bottom: 2px solid #ddd;">
						<h4 style="color: #FA5858; line-height: 18px;">关键字</h4> 
						<label>输入<input type="text" id="nt-kw-in"/></label>
						<button>添加</button>
						<div id="note-chosen-kw">已选择：</div>
						<div id="note-can-kw">已有： </div>
					</div>
					<div id="note-button">
						<a id="note-item-confirm">确认</a>
						<a id="note-form-add">继续添加</a>
						<a id="note-item-cancel">取消</a>
					</div>
				</div>
			</div> 
			<div class="modal-footer">
				<button type='button' class='btn btn-default' data-dismiss='modal'>Close</button>"
				<button type='button' class='btn btn-primary'>Save changes</button>"
			</div>
		</div>
	</div>
</div>
</script>
<script> 
	debugger;
	var templates = document.getElementsByTagName("script");
	var result = "";
	for(var i = 0; i < templates.length-1; i++){
		result += templates.innerHTML;	
	}
	parent.postMessage(result, "*");
</script>
